* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.grid {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*  ------------- FOR MOBILE  ------------- */
.col-s-12 {
    width: 100%;
    padding: 0 12px;
}

/* -------------  FOR TABLET  ------------- */
@media only screen and (min-width: 601px) {
    .col-m-10 {
        width: calc(1000% / 12);
        padding: 0 12px;
    }
}

/* ------------- FOR DESKTOP ------------- */
@media only screen and (min-width: 769px) {
    .col-l-4 {
        width: calc(100% / 3);
        padding: 0 12px;
    }
}

body {
    padding: 10px;
}

.container {
    background-color: #111111;
    border-radius: 8px;
    padding: 90px 3px 140px;
}

.item {
    margin-bottom: 24px;
}

.content {
    font-size: 13px;
    background-color: #202020;
    border: 3px solid #333333;
    
}

.content:hover {
    transform: translateY(-4px);
    transition: all 0.2s;
    cursor: pointer;
    filter: contrast(0.9);
}

.icon {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #333333;
}

img {
    height: 50%;
}

.text {
    color: white;
    text-align: center;
    padding: 60px 25px 28px;
}

.btn {
    margin-top: 50px;
    width: 90px;
    height: 26px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    color: #111111;
}

.btn:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.ideas__btn {
    background-color: #EC84AC;
}

.design__btn {
    background-color: #8D76F2;
}

.code__btn {
    background-color: #6CC8F5;
}